<h2 mat-dialog-title>Detalles de Exámen</h2>
<div mat-dialog-content *ngIf="!loading">
  <p><strong>Nombre: </strong>{{examen.nombre_examen}}</p>
  <p><strong>Descripción: </strong>{{examen.descripcion_examen}}</p>
</div>
<div class="form-group">
  <div class="center">
    <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
  </div>
</div>

<div mat-dialog-actions class="action">
  <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>