<div class="container">
    <header class="jumbotron">
      <p>Dashboard</p>
    </header>
    <div class="main">
        <p class="title">Sistema de Gestión de Citas Médicas</p><span *ngIf="loading">               (Cargando .....)</span>
    
        <div class="users" *ngIf="!loading">
            
            <div class="users-list">
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="iconCita" class="fa"></fa-icon></span>
                    <p class="text-user">Citas Médicas</p>
                    <p class="total"><Strong>{{total_citas}}</Strong></p>
                </div> 
            </div>
            <div class="users-list">
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="faUser" class="fa"></fa-icon></span>
                    <p class="text-user">Médicos</p>
                    <p class="total"><Strong>{{total_medicos}}</Strong></p>
                </div> 
            </div>
            <div class="users-list">
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="iconPaciente" class="fa"></fa-icon></span>
                    <p class="text-user">Pacientes</p>
                    <p class="total"><Strong>{{total_pacientes}}</Strong></p>
                </div> 
            </div> 
            <div class="users-list">
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="iconHC" class="fa"></fa-icon></span>
                    <p class="text-user">Historias Clínicas</p>
                    <p class="total"><Strong>{{total_historias}}</Strong></p>
                </div> 
            </div> 
            <div class="users-list">
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="iconUser" class="fa"></fa-icon></span>
                    <p class="text-user">Usuarios</p>
                    <p class="total"><Strong>{{total_usuarios}}</Strong></p>
                </div> 
            </div>
            <div class="users-list">
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="iconEsp" class="fa"></fa-icon></span>
                    <p class="text-user">Especialidades</p>
                    <p class="total"><Strong>{{total_especialidades}}</Strong></p>
                </div> 
            </div>
            <div class="users-list">
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="iconExa" class="fa"></fa-icon></span>
                    <p class="text-user">Exámenes</p>
                    <p class="total"><Strong>{{total_examenes}}</Strong></p>
                </div> 
            </div> 
            <div class="users-list">
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="iconRol" class="fa"></fa-icon></span>
                    <p class="text-user">Roles</p>
                    <p class="total"><Strong>{{total_roles}}</Strong></p>
                </div> 
            </div>   
        </div>
        
    </div>
</div>
