<h2 mat-dialog-title *ngIf="!isSuccessful">Crear Rol</h2>
<div mat-dialog-content>
  <form *ngIf="!isSuccessful" class="login-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div class="txtb">
      <span data-placeholder="Nombre"></span>
      <input type="text" class="form-control" name="nombre" [(ngModel)]="form.nombre" required #nombre="ngModel" placeholder="ex: ROLE_USER" 
      oninput="this.value = this.value.toUpperCase()"/>
        
      <div class="alert" role="alert" *ngIf="f.submitted && nombre.invalid">
        <div *ngIf="nombre.errors.required">Campo requerido</div>
      </div>
    </div>

    <input type="submit" class="logbtn" value="Registrar">
  
    <div class="form-group">
      <div class="alert error" role="alert" *ngIf="f.submitted && isSignUpFailed">
        {{ errorMessage }}
      </div>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
      </div>
      
    </div>

  </form>

  <div class="exito" *ngIf="isSuccessful">
    <span class="icon-create"><fa-icon [icon]="faUser" class="fa"></fa-icon></span>
    <p class="text-create">Rol registrado con éxito</p>
  </div>

</div>
<div mat-dialog-actions class="action" >
  <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>
