<h2 mat-dialog-title *ngIf="!isSuccessful">Modificar Especialidad</h2>
<div mat-dialog-content>

    <form *ngIf="!isSuccessful" class="login-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

        <div class="txtb">
            <span data-placeholder="Código"></span>
            <input #codigo type="text" class="form-control" name="codigo" [(ngModel)]="especialidad.codigo_espc"
                required #codigo="ngModel" oninput="this.value = this.value.toUpperCase()" />

            <div class="alert" role="alert" *ngIf="f.submitted && codigo.invalid">
                <div *ngIf="codigo.errors.required">Campo requerido</div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Nombre"></span>
            <input #nombre type="text" class="form-control" name="nombre" [(ngModel)]="especialidad.nombre_espc"
                required #nombre="ngModel" />

            <div class="alert" role="alert" *ngIf="f.submitted && nombre.invalid">
                <div *ngIf="nombre.errors.required">Campo requerido</div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Descripción"></span>
            <input #descripcion type="text" class="form-control" name="descripcion"
                [(ngModel)]="especialidad.descripcion_espc" required #descripcion="ngModel" />
            <div class="alert" role="alert" *ngIf="f.submitted && descripcion.invalid">
                <div *ngIf="descripcion.errors.required">Campo requerido</div>
            </div>
        </div>

        <input type="submit" class="logbtn" value="Actualizar" (click)="onSubmit(codigo.value, nombre.value, descripcion.value)">

        <div class="form-group">
            <div class="alert error" role="alert" *ngIf="f.submitted && isSignUpFailed">
                {{ errorMessage }}
            </div>
            <div class="center">
                <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
            </div>
            <div class="center">
                <mat-spinner class="spinner" *ngIf="loading_update" diameter="30"></mat-spinner>
            </div>

        </div>

    </form>

    <div class="exito" *ngIf="isSuccessful">
        <span class="icon-create">
            <fa-icon [icon]="faUser" class="fa"></fa-icon>
        </span>
        <p class="text-create">Especialidad actualizada con éxito</p>
    </div>

</div>
<div mat-dialog-actions class="action">
    <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>