<h2 mat-dialog-title *ngIf="!isSuccessful">Modificar Usuario</h2>
<div mat-dialog-content>

  <form *ngIf="!isSuccessful" class="login-form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

    <div class="txtb">
      <span data-placeholder="Usuario"></span>
      <input #textusername type="text" class="form-control" name="username" [(ngModel)]="user.username" required 
        minlength="3" maxlength="20" #username="ngModel" />
        
      <div class="alert" role="alert" *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors.required">Campo requerido</div>
        <div *ngIf="username.errors.minlength">
          Mínimo 3 caracteres
        </div>
        <div *ngIf="username.errors.maxlength">
          Máximo 20 caracteres
        </div>
      </div>
    </div>

    <div class="txtb">
      <span data-placeholder="Correo"></span>
      <input #textpassword type="email" class="form-control" name="email" [(ngModel)]="user.email" required email #email="ngModel"/>
      <div class="alert" role="alert" *ngIf="f.submitted && email.invalid">
        <div *ngIf="email.errors.required">Campo requerido</div>
        <div *ngIf="email.errors.email">Ingrese un correo valido</div>
      </div>
    </div>

    <span class="txtroles" data-placeholder="Roles a asignar"></span>
    <div class="roles" *ngFor="let rol of user.roles">
      <input type="checkbox" class="form-control" checked (change)="onChange(rol.nombre, $event.target.checked)">{{rol.nombre}}<br>
    </div>
    <div class="roles" *ngFor="let rol of roles_recuperados">
      <input type="checkbox" class="form-control" (change)="onChange(rol, $event.target.checked)">{{rol}}<br>
    </div>

    <input type="submit" class="logbtn" value="Actualizar" (click)="onSubmit(textusername.value, textpassword.value)">
  
    <div class="form-group">
      <div class="alert error" role="alert" *ngIf="f.submitted && isSignUpFailed">
        {{ errorMessage }}
      </div>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
      </div>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="loading_update" diameter="30"></mat-spinner>
      </div>
      
    </div>

  </form>

  <div class="exito" *ngIf="isSuccessful">
    <span class="icon-create"><fa-icon [icon]="faUser" class="fa"></fa-icon></span>
    <p class="text-create">Usuario actualizado con éxito</p>
  </div>

</div>
<div mat-dialog-actions class="action" >
  <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>


