<h2 mat-dialog-title>Detalles de Usuario</h2>
<div mat-dialog-content *ngIf="!loading">
  <p><strong>Nombre de usuario: </strong>{{user.username}}</p>
  <p><strong>Correo electrónico: </strong>{{user.email}}</p>
  <p><strong>Roles asignados:</strong></p>
  <div *ngFor="let rol of user.roles">
    <p class="text-user">{{rol.nombre}}</p>
  </div>
</div>
<div class="form-group">
  <div class="center">
    <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
  </div>
</div>

<div mat-dialog-actions class="action">
  <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>