<h2 mat-dialog-title>Detalles de Paciente</h2>
<div mat-dialog-content *ngIf="!loading">
  <p><strong>Nombres: </strong>{{paciente.nombres}}</p>
  <p><strong>Apellidos: </strong>{{paciente.apellidos}}</p>
  <p><strong>Cédula: </strong>{{paciente.identificacion}}</p>
  <p><strong>Fecha de Nacimiento: </strong>{{paciente.fecha_nacimiento}}</p>
  <p><strong>Edad: </strong>{{paciente.edad}}</p>
  <p><strong>Direccion: </strong>{{paciente.direccion}}</p>
  <p><strong>Celular: </strong>0{{paciente.telefono}}</p>
  <p><strong>Alergias: </strong>{{paciente.alergia}}</p>
  <p><strong>Historia Clínica asignada: </strong>{{paciente.historiaClinica.identificacion}}</p>
  <p *ngFor="let user of paciente.user" ><strong>Usuario asignado: </strong>{{user.username}}</p> 
</div>
<div class="form-group">
  <div class="center">
    <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
  </div>
</div>

<div mat-dialog-actions class="action">
  <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>