<div class="wrapper" *ngIf="isLoggedIn" >
    <div class="sidebar">
      <ul>
  
        <a href="/dashboard" routerLink="dashboard">
          <li class="item">
            <span class="icon"><fa-icon [icon]="faColumns" class="fa"></fa-icon></span>
            <span class="text">Dashboard</span>
          </li>
        </a>
  
        <a href="/citas" routerLink="citas">
          <li class="item">
            <span class="icon"><fa-icon [icon]="faStethoscope" class="fa"></fa-icon></span>
            <span class="text">Citas Médicas</span>
          </li>
        </a>
        
      </ul>
    </div>
    <div class="info">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <div class="wrapper" *ngIf="!isLoggedIn" >
    NO AUTORIZADO
  </div>
  