<div class="container">
    <header class="jumbotron">
      <p>Médicos</p>
    </header>
    <div class="main">
        <p class="title">Lista de médicos registrados</p><span *ngIf="loading">               (Cargando .....)</span>
    
        <div class="users">
            <div class="create-user" (click)="openDialogCreate()">
                <span class="icon-create"><fa-icon [icon]="faPlusCircle" class="fa"></fa-icon></span>
                <p class="text-create">Crear Médico</p>
            </div>
    
            <div *ngFor="let med of medicos" class="users-list">
                
                <div class="icons-options">
                    <button class="options" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                
                <mat-menu class="menudes" #menu="matMenu" xPosition="before">
                    <div mat-menu-item (click)="openDialogUser(med.id)">
                        <mat-icon>person_add</mat-icon>
                        <span>Asignar usuario</span>
                    </div>
                    <div mat-menu-item (click)="openDialogDelete(med.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar usuario</span>
                    </div>
                </mat-menu>
                
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="faUser" class="fa"></fa-icon></span>
                    <p class="text-user username" (click)="openDialogDetails(med.id)">Dr.{{med.nombre}} {{med.apellidos}}</p>
                </div> 
            </div> 
        </div>

        
    </div>
</div>
