<div class="wrapper" *ngIf="isLoggedIn" >
  <div class="sidebar">
    <ul>

      <a href="/dashboard" routerLink="dashboard">
        <li class="item">
          <span class="icon"><fa-icon [icon]="faColumns" class="fa"></fa-icon></span>
          <span class="text">Dashboard</span>
        </li>
      </a>

      <a href="/citas" routerLink="citas">
        <li class="item">
          <span class="icon"><fa-icon [icon]="faStethoscope" class="fa"></fa-icon></span>
          <span class="text">Citas Médicas</span>
        </li>
      </a>
      
      <a href="/medicos" routerLink="medicos">
        <li class="item">
          <span class="icon"><fa-icon [icon]="faUserMd" class="fa"></fa-icon></span>
          <span class="text">Médicos</span>
        </li>
      </a>
      
      <a href="/pacientes" routerLink="pacientes">
        <li class="item">
          <span class="icon"><fa-icon [icon]="faUserInjured" class="fa"></fa-icon></span>
          <span class="text">Pacientes</span>
        </li>
      </a>

      <a href="/historias-clinicas" routerLink="historias-clinicas">
        <li class="item">
          <span class="icon"><fa-icon [icon]="faBookMedical" class="fa"></fa-icon></span>
          <span class="text">Historias Clínicas</span>
        </li>
      </a>

      <a href="/users" routerLink="users">
        <li class="item">
          <span class="icon"><fa-icon [icon]="faUser" class="fa"></fa-icon></span>
          <span class="text">Usuarios</span>
        </li>
      </a>

      <a href="/especialidades" routerLink="especialidades">
        <li class="item">
          <span class="icon"><fa-icon [icon]="faBriefcaseMedical" class="fa"></fa-icon></span>
          <span class="text">Especialidades</span>
        </li>
      </a>

      <a href="/examenes" routerLink="examenes">
        <li class="item">
          <span class="icon"><fa-icon [icon]="faVials" class="fa"></fa-icon></span>
          <span class="text">Exámenes</span>
        </li>
      </a>

      <a href="/roles" routerLink="roles">
        <li class="item">
          <span class="icon"><fa-icon [icon]="faUserTag" class="fa"></fa-icon></span>
          <span class="text">Roles</span>
        </li>
      </a>

      

    </ul>
  </div>
  <div class="info">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="wrapper" *ngIf="!isLoggedIn" >
  NO AUTORIZADO
</div>
