
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 240px;
  height: 100%;
  background-color: #ffffff;
  margin-top: 60px;
  position: fixed;
  /*-webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);*/

}

.wrapper .sidebar ul .item{
  padding: 11px 25px;
}

.wrapper .sidebar ul .item span{
  display: inline-block;
}

.wrapper .sidebar ul .item .icon{
  width: 23px;
  margin-right: 20px;
  color: #2c3e50;
}

.fa{
  font-size: 23px;
}

.wrapper .sidebar ul .item .text{
  vertical-align: top;
  margin-top: 2.5px;
  color: #2c3e50;
  font-size: 15px;
}

.wrapper .sidebar a{
  color: #2c3e50;
}

.wrapper .sidebar ul .item:hover{
  background-color: #32be8f;
  /*border-left: 4px solid #81ecec;*/
  
}
    
.wrapper .sidebar ul a:hover {
  color: #000000;
}

.wrapper .sidebar ul .a:hover .text{
  color: #000000;
}

.wrapper .sidebar ul a:hover .icon{
  color: #000000;
}

.wrapper .info{
  margin-left: 240px;
  line-height: 25px;
  color: #000000;
  width: 100%;
}


