<div class="wrapper" *ngIf="isLoggedIn" >
    <div class="sidebar">
      <ul>
  
        <a href="/dashboard" routerLink="dashboard">
          <li class="item">
            <span class="icon"><fa-icon [icon]="faColumns" class="fa"></fa-icon></span>
            <span class="text">Dashboard</span>
          </li>
        </a>
        
        <a href="/medicos" routerLink="medicos">
          <li class="item">
            <span class="icon"><fa-icon [icon]="faUserMd" class="fa"></fa-icon></span>
            <span class="text">Médicos</span>
          </li>
        </a>
        
        <a href="/profile" routerLink="profile">
          <li class="item">
            <span class="icon"><fa-icon [icon]="faUserInjured" class="fa"></fa-icon></span>
            <span class="text">Pacientes</span>
          </li>
        </a>
  
        <a href="/users" routerLink="users">
          <li class="item">
            <span class="icon"><fa-icon [icon]="faUser" class="fa"></fa-icon></span>
            <span class="text">Usuarios</span>
          </li>
        </a>
  
        <a href="/especialidades" routerLink="especialidades">
          <li class="item">
            <span class="icon"><fa-icon [icon]="faBriefcaseMedical" class="fa"></fa-icon></span>
            <span class="text">Especialidades</span>
          </li>
        </a>
  
        <a href="/profile" routerLink="profile">
          <li class="item">
            <span class="icon"><fa-icon [icon]="faVials" class="fa"></fa-icon></span>
            <span class="text">Exámenes</span>
          </li>
        </a>
  
        <a href="/roles" routerLink="roles">
          <li class="item">
            <span class="icon"><fa-icon [icon]="faUserTag" class="fa"></fa-icon></span>
            <span class="text">Roles</span>
          </li>
        </a>
  
        
  
      </ul>
    </div>
    <div class="info">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <div class="wrapper" *ngIf="!isLoggedIn" >
    NO AUTORIZADO
  </div>
  
