<h2 mat-dialog-title *ngIf="!isSuccessful">Crear Historia Clínica</h2>
<div mat-dialog-content>

    <form *ngIf="!isSuccessful" class="login-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>

        <div class="txtb">
            <span data-placeholder="Fecha de creación"></span>
            <input type="date" class="form-control" name="fechaa" [(ngModel)]="form.fechaa" required #fechaa="ngModel"/>

            <div class="alert" role="alert" *ngIf="f.submitted && fechaa.invalid">
                <div *ngIf="fechaa.errors.required">Campo requerido</div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Código"></span>
            <input type="text" class="form-control" name="codigo" [(ngModel)]="form.codigo" required #codigo="ngModel"/>

            <div class="alert" role="alert" *ngIf="f.submitted && codigo.invalid">
                <div *ngIf="codigo.errors.required">Campo requerido</div>
            </div>
        </div>

        <input type="submit" class="logbtn" value="Registrar">

        <div class="form-group">
            <div class="alert error" role="alert" *ngIf="f.submitted && isSignUpFailed">
                {{ errorMessage }}
            </div>
            <div class="center">
                <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
            </div>

        </div>

    </form>

    <div class="exito" *ngIf="isSuccessful">
        <span class="icon-create">
            <fa-icon [icon]="faUser" class="fa"></fa-icon>
        </span>
        <p class="text-create">Médico registrado con éxito</p>
    </div>

</div>
<div mat-dialog-actions class="action">
    <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>