<h2 mat-dialog-title>Asignar Usuario a Paciente</h2>

<div mat-dialog-content *ngIf="!loading">
    <div *ngIf="!vacio">
        <div *ngIf="!isSuccessful">
            <p><strong>Nombres: </strong>{{paciente.nombres}}</p>
            <p><strong>Apellidos: </strong>{{paciente.apellidos}}</p>
            <p><strong>Cédula: </strong>{{paciente.identificacion}}</p>
            <form class="login-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="txtb">
                    <span data-placeholder="Usuario"></span><br />
                    <select class="form-control esp" name="id" [(ngModel)]="form.id" required #id="ngModel">
                        <option [value]="user.id" *ngFor="let user of usuarios">{{user.username}}</option>
                    </select>

                    <div class="alert" role="alert" *ngIf="f.submitted && id.invalid">
                        <div *ngIf="id.errors.required">Campo requerido</div>
                    </div>
                </div>

                <input type="submit" class="logbtn" value="Asignar">

                <div class="form-group">
                    <div class="alert error" role="alert" *ngIf="f.submitted && isSignUpFailed">
                        {{ errorMessage }}
                    </div>
                    <div class="center">
                        <mat-spinner class="spinner" *ngIf="loading_user" diameter="30"></mat-spinner>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="exito" *ngIf="isSuccessful">
        <span class="icon-create">
            <fa-icon [icon]="faUser" class="fa"></fa-icon>
        </span>
        <p class="text-create">Usuario asignado con éxito</p>
    </div>


</div>



<div class="form-group">
    <div class="center">
        <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
    </div>
</div>

<div class="exito" >
    <p class="text-create" *ngIf="vacio">Este paciente ya tiene un usuario asignado</p>
</div>

<div mat-dialog-actions class="action">
    <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>
