<div class="container">
    <header class="jumbotron">
        <p>Historias Clínicas</p>
    </header>
    <div class="main">
        <p class="title">Lista de historias clínicas registradas</p><span *ngIf="loading"> (Cargando .....)</span>

        <div class="users">
            <div class="create-user" (click)="openDialog()">
                <p class="text-create">Nueva Historia</p>
            </div>

            <table id="table" class="table table-hover table-mc-light-blue" *ngIf="!loading">

                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Fecha de apertura</th>
                    <th>Fecha de revisión</th>
                    <th>Observaciones de revisión</th>
                </tr>

                <tr *ngFor="let hc of historias_clinicas">
                    <td data-title="ID">{{hc.id}}</td>
                    <td data-title="ID">{{hc.identificacion}}</td>
                    <td data-title="ID">{{hc.fecha_apertura}}</td>
                    <td data-title="ID">{{hc.fecha_atencion}}</td>
                    <td data-title="ID">{{hc.obs_informacion}}</td>
                </tr>

            </table>

        </div>


    </div>
</div>