<h2 mat-dialog-title *ngIf="!isSuccessful">Crear Cita Médica</h2>
<div mat-dialog-content>

    <form *ngIf="!isSuccessful" class="login-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>

        <div class="txtb">
            <span data-placeholder="Fecha y Hora"></span>
            <input type="datetime-local" class="form-control" name="fecha" [(ngModel)]="form.fecha" required #fecha="ngModel"/>

            <div class="alert" role="alert" *ngIf="f.submitted && fecha.invalid">
                <div *ngIf="fecha.errors.required">Campo requerido</div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Observación"></span>
            <input type="text" class="form-control" name="observacion" [(ngModel)]="form.observacion" required #observacion="ngModel"/>

            <div class="alert" role="alert" *ngIf="f.submitted && observacion.invalid">
                <div *ngIf="observacion.errors.required">Campo requerido</div>
            </div>
        </div>

        <input type="submit" class="logbtn" value="Registrar">

        <div class="form-group">
            <div class="alert error" role="alert" *ngIf="f.submitted && isSignUpFailed">
                {{ errorMessage }}
            </div>
            <div class="center">
                <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
            </div>

        </div>

    </form>

    <div class="exito" *ngIf="isSuccessful">
        <span class="icon-create">
            <fa-icon [icon]="faUser" class="fa"></fa-icon>
        </span>
        <p class="text-create">Médico registrado con éxito</p>
    </div>

</div>
<div mat-dialog-actions class="action">
    <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>