<div class="col-md-12">

  <form class="login-form" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
    novalidate>

    <h3>Sistema de Gestión de Citas Médicas</h3>

    <div class="txtb">
      <span data-placeholder="Usuario"></span>
      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
        #username="ngModel" />
      <div class="alert" role="alert" *ngIf="f.submitted && username.invalid">
        Campo requerido
      </div>
    </div>

    <div class="txtb">
      <span data-placeholder="Contraseña"></span>
      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
        #password="ngModel" />
      <div class="alert" role="alert" *ngIf="f.submitted && password.invalid">
        Campo requerido
      </div>
    </div>


    <input type="submit" class="logbtn" value="Login">

    <div class="form-group">
      <div class="alert error" role="alert" *ngIf="f.submitted && isLoginFailed">
        {{ errorMessage }}
      </div>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
      </div>

    </div>


  </form>

  <div class="roles" *ngIf="isLoggedIn">
    <div class="bienvenida">
      <h1>Bienvenido al Sistema de Gestión de Citas Médicas</h1>
      <p>Tienes asignados los siguientes roles: {{ roles }}.</p>
    </div>
  </div>
</div>