<div class="container">
    <header class="jumbotron">
      <p>Roles</p>
    </header>
    <div class="main">
        <p class="title">Lista de roles registrados</p><span *ngIf="loading">               (Cargando .....)</span>
    
        <div class="users">
            <div class="create-user" (click)="openDialog()">
                <span class="icon-create"><fa-icon [icon]="faPlusCircle" class="fa"></fa-icon></span>
                <p class="text-create">Crear Rol</p>
            </div>
    
            <div *ngFor="let rol of roles" class="users-list">
                <div class="icons-options">
                    <button class="options" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                
                <mat-menu class="menudes" #menu="matMenu" xPosition="before">
                    <div mat-menu-item (click)="openDialogUpdate(rol.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar rol</span>
                    </div>
                    <div mat-menu-item (click)="openDialogDelete(rol.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar rol</span>
                    </div>
                </mat-menu>
                
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="faUserTag" class="fa"></fa-icon></span>
                    <p class="text-user">{{rol.nombre}}</p>
                </div> 
            </div> 
        </div>

        
    </div>
</div>
