.jumbotron{
    width: 100%;
    background-color: #ffffff;
    margin-top: 60px;
}

.jumbotron p{
    font-size: 15px;
    padding: 11px 0px;
    margin-left: 30px;
}

.center ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #32be8f;
}

.center {
    position: absolute;
    top: 23%;
    left: 58%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.main .title{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
}

.users{
    margin-top: 10px;
    width: 95%;
    margin-left: 30px;
}

.create-user{
    width: 190px;
    height: 190px;
    background-color: #f2f4fc;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    text-align: center;
    padding-top: 53px;
    margin: 8px;
    cursor: pointer;  
}

.create-user .icon-create{
    font-size: 50px;
    color: #32be8f;
}

.create-user .text-create{
    margin-top: 10px;
    font-size: 17px;
    color: #8f9699;
}


.users-list{
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 190px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    border-bottom: 4px solid #32be8f;
    text-align: center;
    margin: 8px;
}



.users-list .icon-user{
    font-size: 50px;
    color: #c0c3c5;
}

.users-list .text-user{
    margin-top: 10px;
    color: #000000;
    font-size: 17px;
}

.menu-user{
    width: 100%;
    display: none;
}

.menu-user div{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #c8cacc;
    text-align: center;
    border-radius: 5px;
    margin: 4px;
    padding-top: 4px; 
}


.icons-options{
    margin-left: 140px;
}

.options{
    display: inline-block;
    color: #2c3e50;
    margin-right: -10px;
}

.content-user{
    padding-top: 13px;
}

.create-user:hover .text-create{
    color: #000000;
}

.create-user:hover .icon-create{
    color: #22db9d;
}

.close{
    margin-left: auto;
    margin-right: auto;
}