.menu{
  background: #2d3436;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
}

.logo{
  background-color: #ffffff;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  width: 240px;
  padding: 20px 0px;
  text-align: center;
  color: #000000;
  font-weight: lighter;
  letter-spacing: 2.5px;

  
}

/* todos los "ul" que esten dentro de "navigation" */
.menu ul {
  margin:0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.account{
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  color: #ffffff;
}

.menu ul li{
  display: inline-block; 
}

.nav-link{
  color: #ffffff;
  margin-left: 30px;
  font-size: 14px;
  padding: 10px 0px;
}

.nav-link:hover{
  border-bottom: 2px solid #32be8f;
}

.menudess{
  width: 100%;
  color: #000000;
}

.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

