<div id="app">
  <nav class="menu" *ngIf="isLoggedIn">
    <a href="/sgcm" class="logo">SGCM Project</a>

    <ul class="navbar-nav " routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Administrador</a>
      </li>
      <li class="nav-item" *ngIf="showMedBoard">
        <a href="/med" class="nav-link" routerLink="med">Médico</a>
      </li>
      <li class="nav-item" *ngIf="showPacBoard">
        <a href="/pac" class="nav-link" routerLink="pac">Paciente</a>
      </li>
    </ul>


    <button class="account" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu class="menudes" #menu="matMenu" xPosition="before">
      <a mat-menu-item href="/profile" routerLink="profile">
        <mat-icon>perm_identity</mat-icon>
        <span>Perfíl</span>
      </a>
      <a mat-menu-item href (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </a>
    </mat-menu>

  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>