<div class="container">
    <header class="jumbotron">
        <p>Citas Médicas</p>
    </header>
    <div class="main">
        <p class="title">Lista de citas médicas registradas</p><span *ngIf="loading"> (Cargando .....)</span>

        <div class="users">
        
            <table id="table" class="table table-hover table-mc-light-blue" *ngIf="!loading">

                <tr>
                    <th>ID</th>
                    <th>Fecha y Hora</th>
                    <th>Observaciones</th>
                    <th>Opciones</th>
                </tr>

                <tr *ngFor="let cit of citas">
                    <td data-title="ID">{{cit.id}}</td>
                    <td data-title="ID">{{cit.fecha}}</td>
                    <td data-title="ID">{{cit.descripcion}}</td>
                    <td data-title="ID">

                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu class="menudes" #menu="matMenu" xPosition="before">
                            
                            <div mat-menu-item (click)="openDialogDetails(cit.id)">
                                <mat-icon>visibility</mat-icon>
                                <span>Ver detalles</span>
                            </div>
                            
                        </mat-menu>
                    </td>
                </tr>

            </table>

        </div>


    </div>
</div>