h2{
    text-align: center;
}

.txtb{
    position: relative;
    margin: 20px 0;
}

.txtb input{
    background-color: #ededed;
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    padding: 0 5px;
    height: 40px;
}

.txtb span::before{
    content: attr(data-placeholder);
    top: 50%;
    left: 5px;
    color: #636e72;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}


.logbtn{
    display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.logbtn:hover{
    background-position: right;
  }
  
.bottom-text{
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}

.alert{
    font-size: 13px;
    color: #636e72;
    margin-top: 2px;
}

.error{
    text-align: center;
    font-size: 14px;
}

.center ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #32be8f;
}

.center {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin-top: 20px;
}

.exito{
    text-align: center;
}

.exito .icon-create{
    font-size: 75px;
    color: #32be8f;
}

.exito .text-create{
    margin-top: 20px;
    font-size: 17px;
    color: #8f9699;
}

.action{
    margin-top: 40px;
}

.close {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}