<h2 mat-dialog-title *ngIf="!isSuccessful">¿Desea eliminar el médico: <strong>{{medico.nombre}} {{medico.apellidos}}</strong>?</h2>

<div class="form-group">
  <div class="center">
    <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
  </div>
  
</div>

<div class="exito" *ngIf="isSuccessful">
  <span class="icon-create">
    <fa-icon [icon]="faUser" class="fa"></fa-icon>
  </span>
  <p class="text-create">Médico eliminado con éxito</p>
  <div mat-dialog-actions class="action">
    <button mat-button mat-dialog-close class="close">Cerrar</button>
  </div>
</div>



<mat-dialog-actions align="end" class="action" *ngIf="!isSuccessful">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="deleteUser()">Eliminar</button>
</mat-dialog-actions>
