<div class="container" *ngIf="currentUser; else loggedOut">
    <div class="target">
        <div class="content-user">
            <span class="icon-user"><fa-icon [icon]="faUser" class="fa"></fa-icon></span>
        </div>
        <div class="text-user">
            <p><strong>Username: </strong>{{ currentUser.username }}</p>
            <p *ngFor="let role of currentUser.roles"><strong>Roles: </strong> {{ role }}</p>
        </div> 
        
    </div>

    
</div>

<ng-template #loggedOut>
    Please login.
</ng-template>