.container{
    width: 100%;
    margin-top: 60px;
    padding: 10px;
}

.target{
    width: 25%;
    padding: 20px;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    margin: 30px;
}

.content-user{
    padding-top: 13px;
    text-align: center;
}

.icon-user{
    font-size: 75px;
    color: #c0c3c5;
}

.text-user{
    margin-top: 20px;
    color: #000000;
    font-size: 17px;
    text-align: center;
}