<div class="container">
    <header class="jumbotron">
      <p>Usuarios</p>
    </header>
    <div class="main">
        <p class="title">Lista de usuarios registrados</p><span *ngIf="loading">               (Cargando .....)</span>
    
        <div class="users">
            <div class="create-user" (click)="openDialogCreate()">
                <span class="icon-create"><fa-icon [icon]="faPlusCircle" class="fa"></fa-icon></span>
                <p class="text-create">Crear Usuario</p>
            </div>
    
            <div *ngFor="let user of usuarios" class="users-list">
                
                <div class="icons-options">
                    <button class="options" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                
                <mat-menu class="menudes" #menu="matMenu" xPosition="before">
                    <div mat-menu-item (click)="openDialogUpdate(user.id, user.roles)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar usuario</span>
                    </div>
                    <div mat-menu-item>
                        <mat-icon>security</mat-icon>
                        <span>Cambiar contraseña</span>
                    </div>
                    <div mat-menu-item (click)="openDialogDelete(user.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar usuario</span>
                    </div>
                </mat-menu>
                
                <div class="content-user">
                    <span class="icon-user"><fa-icon [icon]="faUser" class="fa"></fa-icon></span>
                    <p class="text-user username" (click)="openDialogDetails(user.id)">{{user.username}} </p>
                </div> 
            </div> 
        </div>

        
    </div>
</div>
