<h2 mat-dialog-title *ngIf="!isSuccessful">Crear usuario</h2>
<div mat-dialog-content>

  <form *ngIf="!isSuccessful" class="login-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div class="txtb">
      <span data-placeholder="Usuario"></span>
      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required 
        minlength="3" maxlength="20" #username="ngModel" />
        
      <div class="alert" role="alert" *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors.required">Campo requerido</div>
        <div *ngIf="username.errors.minlength">
          Mínimo 3 caracteres
        </div>
        <div *ngIf="username.errors.maxlength">
          Máximo 20 caracteres
        </div>
      </div>
    </div>

    <div class="txtb">
      <span data-placeholder="Correo"></span>
      <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel"/>
      <div class="alert" role="alert" *ngIf="f.submitted && email.invalid">
        <div *ngIf="email.errors.required">Campo requerido</div>
        <div *ngIf="email.errors.email">Ingrese un correo valido</div>
      </div>
    </div>

    <div class="txtb">
      <span data-placeholder="Contraseña"></span>
      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
        #password="ngModel" />
      <div class="alert" role="alert" *ngIf="f.submitted && password.invalid">
        <div *ngIf="password.errors.required">Campo requerido</div>
        <div *ngIf="password.errors.minlength">Mínimo 6 caracteres</div>
      </div>
    </div>

    <span class="txtroles" data-placeholder="Roles a asignar"></span>
    <div class="roles" *ngFor="let rol of roles">
      <input type="checkbox" class="form-control" (change)="onChange(rol.nombre, $event.target.checked)">{{rol.nombre}}<br>
    </div>

    <input type="submit" class="logbtn" value="Registrar">
  
    <div class="form-group">
      <div class="alert error" role="alert" *ngIf="f.submitted && isSignUpFailed">
        {{ errorMessage }}
      </div>
      <div class="center">
        <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
      </div>
      
    </div>

  </form>

  <div class="exito" *ngIf="isSuccessful">
    <span class="icon-create"><fa-icon [icon]="faUser" class="fa"></fa-icon></span>
    <p class="text-create">Usuario registrado con éxito</p>
  </div>

</div>
<div mat-dialog-actions class="action" >
  <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>