<h2 mat-dialog-title>Detalles de Cita</h2>
<div mat-dialog-content *ngIf="!loading">
  <p><strong>Fecha y Hora: </strong>{{cita.fecha}}</p>
  <p><strong>Descripción: </strong>{{cita.descripcion}}</p>
  <p><strong>Paciente asignado:</strong></p>
  <div *ngFor="let pac of cita.paciente">
    <p class="text-user">{{pac.apellidos}} {{pac.nombres}}</p>
  </div>
</div>
<div class="form-group">
  <div class="center">
    <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
  </div>
</div>

<div mat-dialog-actions class="action">
  <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>