.menu{
    /*background: #2d3436;*/
    background-color: #222222;
    width: 100%;
    padding: 18px 20px;
}

.menu p{
    color: #ffffff;
    font-size: 18px;
}

.content{
    width: 100%;
    height: 90.8vh;
    background-color: red;
}

.google{
    width: 45%;
    height: 100%;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
}

.mapa{
    width: 100%;
    height: 100%;
}

.datos{
    width: 55%;
    height: 100%;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
}

.confirmados, .recuperados , .fallecidos{
    width: 32%;
    height: 98.5%;
    margin: 5px;
    background-color: #887272;
    display: inline-block;

}

.con{
    border-bottom: 3px solid #138f66;
}

.rec{
    border-bottom: 3px solid #ec7709;
}

.fall{
    border-bottom: 3px solid #db0c0c;
}


.cantidad{
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

agm-map {
    height: 100%;
    width: 100%;
}

.center {
    position: absolute;
    left: 22.5%;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
}