<div class="container">
    <nav class="menu">
        <p>Coronavirus COVID-19 Casos de África</p>
    </nav>
    <span class="center" *ngIf="loading">Cargando...</span>
    <div class="content"> 
        <div class="google">
            <div class="mapa" *ngIf="!loading">
                <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                    <agm-marker 
                        [iconUrl]="iconMap.iconUrl"
                        *ngFor="let lugar of paises" 
                        [latitude]="lugar.latitud" 
                        [longitude]="lugar.longitud"></agm-marker>
                </agm-map>
            </div>
        </div>

        <div class="datos">
            <div class="confirmados">
                <div class="cantidad con">
                    <p>Confirmados</p>
                    <span *ngIf="loading_con" class="valor">Cargando...</span>
                </div>
            </div>
            <div class="recuperados">
                <div class="cantidad rec">
                    <p>Recuperados</p>
                    <span *ngIf="loading_rec" class="valor">Cargando...</span>
                </div>
            </div>
            <div class="fallecidos">
                <div class="cantidad fall">
                    <p>Fallecidos</p>
                    <span *ngIf="loading_fall" class="valor">Cargando...</span>
                </div>
            </div>
        </div>  
    </div>
    
</div>

