<h2 mat-dialog-title *ngIf="!isSuccessful">Crear Paciente</h2>
<div mat-dialog-content>

    <form *ngIf="!isSuccessful" class="login-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>

        <div class="txtb">
            <span data-placeholder="Cédula"></span>
            <input type="number" class="form-control" name="cedula" [(ngModel)]="form.cedula" required minlength="11"
                maxlength="11" #cedula="ngModel" />

            <div class="alert" role="alert" *ngIf="f.submitted && cedula.invalid">
                <div *ngIf="cedula.errors.required">Campo requerido</div>
                <div *ngIf="cedula.errors.minlength">
                    Mínimo 11 caracteres
                </div>
                <div *ngIf="cedula.errors.maxlength">
                    Máximo 11 caracteres
                </div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Nombres"></span>
            <input type="text" class="form-control" name="nombres" [(ngModel)]="form.nombres" required #nombres="ngModel"/>

            <div class="alert" role="alert" *ngIf="f.submitted && nombres.invalid">
                <div *ngIf="nombres.errors.required">Campo requerido</div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Apellidos"></span>
            <input type="text" class="form-control" name="apellidos" [(ngModel)]="form.apellidos" required #apellidos="ngModel"/>

            <div class="alert" role="alert" *ngIf="f.submitted && apellidos.invalid">
                <div *ngIf="apellidos.errors.required">Campo requerido</div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Edad"></span>
            <input type="number" class="form-control" name="edad" [(ngModel)]="form.edad" required minlength="1"
                maxlength="3" #edad="ngModel" />

            <div class="alert" role="alert" *ngIf="f.submitted && edad.invalid">
                <div *ngIf="edad.errors.required">Campo requerido</div>
                <div *ngIf="edad.errors.minlength">
                    Mínimo 1 caracte
                </div>
                <div *ngIf="edad.errors.maxlength">
                    Máximo 3 caracteres
                </div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Fecha de Nacimiento"></span>
            <input type="date" class="form-control" name="fecha" [(ngModel)]="form.fecha" required #fecha="ngModel"/>

            <div class="alert" role="alert" *ngIf="f.submitted && fecha.invalid">
                <div *ngIf="fecha.errors.required">Campo requerido</div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Dirección"></span>
            <input type="text" class="form-control" name="direccion" [(ngModel)]="form.direccion" required #direccion="ngModel"/>

            <div class="alert" role="alert" *ngIf="f.submitted && direccion.invalid">
                <div *ngIf="direccion.errors.required">Campo requerido</div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Celular"></span>
            <input type="number" class="form-control" name="celular" [(ngModel)]="form.celular" required minlength="10"
                maxlength="10" #celular="ngModel" />

            <div class="alert" role="alert" *ngIf="f.submitted && celular.invalid">
                <div *ngIf="celular.errors.required">Campo requerido</div>
                <div *ngIf="celular.errors.minlength">
                    Mínimo 10 caracteres
                </div>
                <div *ngIf="celular.errors.maxlength">
                    Máximo 10 caracteres
                </div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Alergias"></span>
            <input type="text" class="form-control" name="alergia" [(ngModel)]="form.alergia" required #alergia="ngModel"/>

            <div class="alert" role="alert" *ngIf="f.submitted && alergia.invalid">
                <div *ngIf="alergia.errors.required">Campo requerido</div>
            </div>
        </div>

        <div class="txtb">
            <span data-placeholder="Historia Clínica"></span><br/>
            <select class="form-control esp" name="hc" [(ngModel)]="form.hc" required #hc="ngModel">
                <option [value]="hc.id" *ngFor="let hc of historias_clinicas">{{hc.identificacion}}</option>
            </select>

            <div class="alert" role="alert" *ngIf="f.submitted && hc.invalid">
                <div *ngIf="hc.errors.required">Campo requerido</div>
            </div>
        </div>
        
        <input type="submit" class="logbtn" value="Registrar">

        <div class="form-group">
            <div class="alert error" role="alert" *ngIf="f.submitted && isSignUpFailed">
                {{ errorMessage }}
            </div>
            <div class="center">
                <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
            </div>

        </div>

    </form>

    <div class="exito" *ngIf="isSuccessful">
        <span class="icon-create">
            <fa-icon [icon]="faUser" class="fa"></fa-icon>
        </span>
        <p class="text-create">Paciente registrado con éxito</p>
    </div>

</div>
<div mat-dialog-actions class="action">
    <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>
