<h2 mat-dialog-title>Detalles de Médico</h2>
<div mat-dialog-content *ngIf="!loading">
  <p><strong>Nombres: </strong>{{medico.nombre}}</p>
  <p><strong>Apellidos: </strong>{{medico.apellidos}}</p>
  <p><strong>Cédula: </strong>{{medico.cedula}}</p>
  <p><strong>Fecha de Nacimiento: </strong>{{medico.fecha_nacimiento}}</p>
  <p><strong>Edad: </strong>{{medico.edad}}</p>
  <p><strong>Direccion: </strong>{{medico.direccion}}</p>
  <p><strong>Celular: </strong>0{{medico.telefono}}</p>
  <p><strong>Especialidad: </strong>{{medico.especialidades.nombre_espc}}</p>
  <p *ngFor="let user of medico.usuarios" ><strong>Usuario asignado: </strong>{{user.username}}</p> 
</div>
<div class="form-group">
  <div class="center">
    <mat-spinner class="spinner" *ngIf="loading" diameter="30"></mat-spinner>
  </div>
</div>

<div mat-dialog-actions class="action">
  <button mat-button mat-dialog-close class="close">Cerrar</button>
</div>